# Import data

In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
import os
from tqdm import tqdm

In [2]:
df=pd.read_csv(path+"20170101.csv")
df=df.drop('Unnamed: 0',1)

FileNotFoundError: [Errno 2] File b'drive/My Drive/1001_project_Total/Data/20170101.csv' does not exist: b'drive/My Drive/1001_project_Total/Data/20170101.csv'

In [7]:
df.columns

Index(['profile', 'category1', 'canonicalUrl', 'referrerHostClass',
       'sessionStop', 'userId', 'publishtime', 'sessionStart', 'referrerUrl',
       'keywords', 'id', 'eventId', 'city', 'title', 'url', 'country',
       'region', 'author', 'referrerSearchEngine', 'deviceType', 'time', 'os',
       'activeTime'],
      dtype='object')

# Adding Sessions

In [8]:
t=df.sort_values(["userId","time"])

# according from the dataset description: There is the threshold when computing the “activeTime”, when it is too short then it won’t be account in original dataset
t["activeTime"]=t["activeTime"].fillna(0)

# find the sessions with total time more than 0 and less than 45 minutes
t["sessionNo"]=t["sessionStart"].cumsum()
t["activeTotalTime"]=t.groupby('sessionNo')['activeTime'].transform('sum')
print("The number of total events by users is: ",len(t))
print("The number of sessions is: ",max(t["sessionNo"]))
print("The number of unique users is: ",len(t["userId"].unique()))
t["sessionNo"]=t["sessionStart"].cumsum()
t=t[t["activeTotalTime"]>0]
t=t[t["activeTotalTime"]<=2700]

The number of total events by users is:  1513739
The number of sessions is:  518675
The number of unique users is:  248892

In [9]:
print("The number of total events by users is: ",len(t))
print("The number of sessions is: ",len(t["sessionNo"].unique()))
print("The number of unique users is: ",len(t["userId"].unique()))

The number of total events by users is:  1245204
The number of sessions is:  293529
The number of unique users is:  148781

In [10]:
t[["sessionNo","id","time","sessionStart","sessionStop","activeTime","activeTotalTime"]].iloc[0:10]

         sessionNo  ... activeTotalTime
1348419          2  ...            81.0
1349279          2  ...            81.0
1350387          2  ...            81.0
1350581          2  ...            81.0
1350878          2  ...            81.0
1350954          2  ...            81.0
1351021          2  ...            81.0
326027           4  ...            86.0
328012           4  ...            86.0
609122           5  ...           145.0

[10 rows x 7 columns]

In [11]:
t.dropna(subset=["id"],inplace=True)
articles=t["id"].unique()
d={}
for i in range(len(articles)):
    article=articles[i]
    d[article]=i
t["articleId"]=t["id"].map(d)
print("The length of t is: ",len(t))
t.head()

The length of t is:  374487

                                                   profile  ... articleId
1349279  [{'item': '0', 'groups': [{'count': 1, 'group'...  ...         0
1350581  [{'item': '0', 'groups': [{'count': 1, 'group'...  ...         1
1350954  [{'item': '0', 'groups': [{'count': 1, 'group'...  ...         2
328012   [{'item': '0', 'groups': [{'count': 1, 'group'...  ...         3
613313   [{'item': '0', 'groups': [{'count': 1, 'group'...  ...         4

[5 rows x 26 columns]

In [ ]:
t.to_csv(path+"20170101_prestage.csv")

In [13]:
len(t)

374487